node_modules/
# Dependency directories
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# macOS specific files
.DS_Store

# Visual Studio Code specific files
.vscode/

# JetBrains IDEs specific files
.idea/
*.iml
*.iws

# IDE specific files
*.sublime-project
*.sublime-workspace
*.idea
*.iml
*.ipr

# Operating System files
Thumbs.db
ehthumbs.db
Icon?
